<div class="welcomePanel">
    <div class="welcomeHeaderTitle">
        <img src="img/logo.png" alt="BetterTavern logo" class="welcomeHeaderLogo">
        <img src="img/logo-word.png" alt="Yumina wordmark" class="welcomeHeaderWordLogo">
        <span class="welcomeHeaderVersionDisplay">{{version}}</span>
    </div>
    <div class="welcomeHeader">
        <div class="welcomeShortcuts">
            <span class="menu_button menu_button_icon">
                <i class="fa-solid fa-question-circle"></i>
                <span data-i18n="Docs">Docs</span>
            </span>
            <span class="menu_button menu_button_icon">
                <i class="fa-brands fa-github"></i>
                <span data-i18n="GitHub">GitHub</span>
            </span>
            <span class="menu_button menu_button_icon">
                <i class="fa-brands fa-discord"></i>
                <span data-i18n="Discord">Discord</span>
            </span>
            <span class="welcomeShortcutsSeparator">&vert;</span>
            <a class="menu_button menu_button_icon" target="_blank" href="https://yumina.io">
                <i class="fa-solid fa-globe"></i>
                <span data-i18n="Visit Website">Visit Website</span>
            </a>
        </div>
    </div>
</div>
